.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5rem;
}

.hero_text_container{
    display: flex;
    flex-direction: column;
    gap: var(--contentGap);
    flex: 0.5;
}

.img_container{
    position: absolute;
    width: 75rem;
    right: 0rem;
    top: 17.5rem;
    z-index: -1;
}

.hero_img{
    width: 100%;
    pointer-events: none;
}

.hero_text{
    color: var(--textColor);
    font-size: clamp(1.4rem, 3vw, 2rem)
}


/* Desktops / Laptops */
@media (max-width: 1200px) { 
    .hero_text_container{
        flex: 0.6;
    }
    .img_container{
        width: 70rem;
        right: -4rem;
    }
}

/* Desktops / Laptops */
@media (max-width: 1100px) { 
    .img_container{
        top: 30rem;
    }
}

/* Tablets (portrait) */
@media (max-width: 970px) { 
    .hero_text_container{
        flex: 1;
    }
    .img_container{
        width: 50rem;
        top: 40rem;
        right: 10rem;
        
    }
}

/* Mobile Devices (landscape) */
@media (max-width: 800px) { 
    .img_container{
        width: 40rem;
        top: 42rem;
        right: 0rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .img_container{
        width: 35rem;
        top: 47.5rem;
        right: 5rem;
    }
}

/* Smaller Mobile Devices up to 420px */
@media (max-width: 420px) {  
    .img_container{
        /* width: 24rem; */
        top: 50rem;
        right: 3rem;
    }
}

/* Tiny Mobile Devices up to 325px (e.g. galaxy fold) */
@media (max-width: 325px) {  
    .img_container{
        width: 22rem;
        top: 54rem;
        right: 3rem;
    }
}

