@keyframes pulsate {
    0%, 100% {
      --webkit-box-shadow: 0 -25px 15px rgba(61, 148, 255, 0.2), 0 25px 15px rgba(61, 148, 255, 0.2);
      box-shadow: 0 -25px 15px rgba(61, 148, 255, 0.2), 0 25px 15px rgba(61, 148, 255, 0.2);
    }
    50% {
      --webkit-box-shadow: 0 -25px 17px rgba(61, 148, 255, 0.25), 0 25px 17px rgba(61, 148, 255, 0.25);
      box-shadow: 0 -25px 17px rgba(61, 148, 255, 0.25), 0 25px 17px rgba(61, 148, 255, 0.25);
    }
  }

.new_project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--contentGap);
    background-color: var(--primaryColor);
    padding: 3% 10%;
    border-radius: var(--borderRadius);
    --webkit-box-shadow: 0 -20px 15px rgba(61, 148, 255, 1), 0 25px 15px rgba(61, 148, 255, 1);
    box-shadow: 0 -20px 15px rgba(61, 148, 255, 1), 0 25px 15px rgba(61, 148, 255, 1);
    animation: pulsate 1.75s infinite ease-in-out;
}

.new_project_title {
    color: var(--textColor)
}

.main_content_left{
    display: flex;
    flex-direction: column;
    gap: var(--contentGap);
    flex: 1;
}

.animation {
    flex: 0.2;
}

.white_font_bold{
    color: var(--textColor);
    font-size: clamp(1.8rem, 2.5vw, 2.2rem);
}

.contact_container{
    display: flex;
    align-items: center;
    gap: var(--contentGap);
}

/* Tablets (portrait) */
@media (max-width: 950px) {  
    .new_project{
        flex-direction: column;
    }

    .main_content_left{
        align-items: center;
        text-align: center;
    }
    
    .contact_container{
        flex-direction: column;
    }

    .animation {
        margin: 0 auto;
        width: 20rem;
    }
}



/* Mobile Devices up to 480px */
@media (max-width: 480px){
    .new_project{
        padding: 8% 1rem;
    }
}


