.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 30rem;
    margin-bottom: 7rem;
}

.services_card_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--contentGap);
    width: 75%;
    flex: 2;
    text-align: center;
}

.services_card_top p {
    font-size: clamp(1.8rem, 2.5vw, 2.2rem);
}

.services_card_container{
    display: flex;
    gap: var(--contentGap);
}

.services_card_container{
    display: flex;
    gap: 10rem;
}


.services_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: var(--contentGap);
    border: 1px solid white;
    margin-top: 3rem;
    flex: 1;
}

.services_icon{
    width: 10rem;
    height: auto;
}

.services_card p {
    flex: 1;
}

/* Tablets (portrait) */
@media (max-width: 950px) { 
    .services_card_container {
        align-items: center;
        flex-direction: column;
        gap: 3rem;
        text-align: left;
    }

    .services_card, .services_card_top{
        text-align: left;
    }

    .services_card, .services_card_top{
        width: 75%;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .services{
        margin-top: 27.5rem;
    }
}

/* Smaller Mobile Devices up to 420px */
@media (max-width: 420px) {  
    .services{
        margin-top: 24.5rem;
    }
}

/* Mobile Devices up to 380px */
@media (max-width: 380px) {  
    .services{
        margin-top: 24.5rem;
    }
}
