.contact_modal_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.modal_background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.close_btn_container{
    position: absolute; /* absolute to .contact_form_container */
    padding: 0.5rem;
    top: -2rem;
    right: -2rem;
    z-index: 999;
    background-color: var(--secondaryColor);
    display: flex;
    border-radius: 50%;
    outline: 0.3rem solid white;
}

.close_btn{
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    z-index: 999;
    color: white;
}

.close_btn_container:hover{
    background-color: var(--defaultColor);
    outline: 0.3rem solid var(--textColorFlip);
}

.close_btn:hover{
    transition: 0.2s ease-in-out;
    color: var(--textColorFlip);
}

/* CONTACT FORM */
.contact_form_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    background-color: var(--defaultColor);
    width: 80rem;
    padding: 5rem 5rem;
    position: relative; /* necessary for close btn */
    border-radius: var(--borderRadius);
   
}

.contact_info{
    display: flex;
    justify-content: space-between;
}

.contact_info p{
    color: var(--tertiaryColor);
    font-weight: 900;
    font-size: clamp(1.2rem, 2vw, 1.8rem)
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form_group{
    display: flex;
    gap: 2rem;
}

.highlight_title{
    color: var(--secondaryColor);
}

.title {
    color: var(--textColorFlip);
}

  
.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 100%;
    padding: 1.2rem;
    border: 0.1rem solid #ccc;
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    resize: none;
    font-size: clamp(0.8rem, 2vw, 1.6rem)
}

.textarea {
    height: 20rem;
}

/* FORM SUBMITTED */
.form_submit_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 10;
    background-color: var(--defaultColor);
    width: 80rem;
    padding: 5rem 5rem;
    position: relative; 
    border-radius: var(--borderRadius);
}

/* Mobile Devices (landscape) */
@media (max-width: 850px) { 
    .contact_form_container{
        width: 55rem;
    }
}

/* Smaller Screens up to 580px */
@media (max-width: 580px) {  
    .contact_form_container{
        width: 45rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .contact_form_container{
        width: 34rem;
    }
    .contact_info{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .input,
    .textarea{
        padding: 0.8rem;
    }

    .textarea{
        height: 12rem;
    }
}

/* Small Mobile Devices up to 380px */
@media (max-width: 380px){
    .contact_form_container{
        width: 28rem;
    }
}

/* Extra Small Mobile Devices up to 320px */
@media (max-width: 320px){
    .contact_form_container{
        width: 22rem;
        padding: 2rem 2rem;
    }
}
