:root {
    --primaryColor: #21366D;
    --secondaryColor: #3A4CBB;
    --tertiaryColor: #86A5D9;
    --defaultColor: #FFFFFF; 

    --highlightColor: #5AFF15;
    --errorColor: red;
    
    --backgroundColor: #21366D;
    --backgroundColorFlip: #FFFFFF;

    --textColor: #FFFFFF;
    --textColorFlip: #424242;

    /* border styles */
    --borderRadius: 0.5rem;
    /* hover transition */
    --hoverTransition: 0.3s ease-in-out;
    
}