.background_curve {
    position: absolute;
    width: 110%;
    top: 12rem;
    left: -6rem;
    overflow: hidden;
    line-height: 0;

}

.background_curve svg {
    position: relative;
    display: block;
    width: 110%;
    height: 65rem;
    overflow: hidden;
}

.background_curve .shape_fill {
    fill: var(--primaryColor);
    overflow: hidden;
}

@media screen and (min-width: 1620px) and (min-height: 1000px) {
    .background_curve svg {
        width: 94.5%;
        height: 62rem;
    }
}

/* adjusments */
@media only screen and (max-width: 1000px){
    .background_curve{
        top: 11rem;
    }
}

@media only screen and (max-width: 920px){
    .background_curve{
        top: 9.5rem;
        left: -4rem;
    }
    .background_curve svg {
        height: 60rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .background_curve{
        width: 110.2%;
    }
    .background_curve svg {
        width: 100%;
        height: 44rem;
        
    }
}



