.bg_curve{
    position: absolute;
    top: 0;
    z-index: -1;
   
}

.background_curve {
    position: absolute;
    top: 12rem;
    left: -10rem;
    /* width: 110%; */
/*     overflow: hidden; */
    overflow: hidden;
    line-height: 0;
    z-index: -10;
}

.background_curve svg {
    position: relative;
    display: block;
    width: calc(100% + 15rem);
    height: 80vh;
}

.background_curve .shape_fill {
    fill: var(--primaryColor);
}

/* adjusments */
@media only screen and (max-width: 1000px){
    .background_curve{
        top: 11rem;
        left: -14rem;
    }
}

@media only screen and (max-width: 920px){
    .background_curve{
        top: 9.5rem;
    }
    .background_curve svg {
        height: 60rem;
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 850px) {  
    .background_curve svg {
       /*  height: 60vh; */
    }
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .background_curve svg {
        height: 75vh;
    }
}



