.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.5rem;
    margin-top: 7rem;
   /*  width: 75vw; */
}

.portfolio_card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 5.5rem;
    max-width: 75vw;
/*     display: flex;
    justify-content: center;
    gap: 5.5rem; */
}

/* Tablets (landscape) / Small Laptops) */
@media (max-width: 850px) { 
    .portfolio_card_container{
        grid-template-columns: repeat(1, 1fr);
       /*  flex-wrap: wrap; */
    }
}