.portfolio_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--contentGap);
    padding: 3rem;
    border-radius: var(--borderRadius);
    --webkit-box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.1);
    border-bottom: 0.5rem solid var(--secondaryColor);
}

.location{
    color: #999;
}

.portfolio_btn{
    background-color: var(--secondaryColor);
    padding: 2rem;
    width: 30rem;
    margin-top: auto;
    align-self: flex-start;
    text-align: center;
    border-radius: var(--borderRadius);    font-weight: bold;
    color: var(--textColor);
}

.portfolio_btn:hover{
    transition: var(--hoverTransition);
    background-color: var(--defaultColor);
    outline: 0.2rem solid var(--primaryColor);
}

.portfolio_btn:hover {
    color: var(--primaryColor);
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) { 
    .portfolio_card{
        gap: 1.8rem;
        padding: 1.5rem;
    } 
    .portfolio_btn{
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem;
    }
}