.container {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    padding: 0;
}
  
/* Smaller Screen Rezise */
@media only screen and (max-width: 1200px){
.container{
   margin: 0 5%;
  }
}

/* Galaxy fold / < 300 px tiny screens */
@media only screen and (max-width: 300px){
.container {
    margin: 0 1rem;
   
  }
}