.line_breaker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 15.5rem;
}
  
.line {
    flex: 1;
    height: 0.2rem;
    background-color: rgba(61, 148, 255, 0.6);
}

.logo {
    width: 3rem;
}

/* .text {
    padding: 0 10px;
    color: rgba(61, 148, 255, 0.6);
} */

/* Mobile Devices up to 480px */
@media (max-width: 480px){
    .line_breaker {
        width: 12.5rem;
    }
    .logo {
        width: 2.5rem;
    }
}